.btnSend {
    background-color: var(--bg-btn);
    font-weight: bold;
}

.btnSend {
    background-color: var(--bg-btn);
    transform: scale(0.98);
    color: black;
}

.btnSend:hover {
    background-color: #faa038;
    color: black;
}
