.card {
    background-color: var(--bg-card);
    border: 1px solid #333;
    transition: transform 0.3s ease;
    min-height: 320px;
    /* Asegura que todas tengan un mínimo de altura */
}

.card svg {
    width: 30px;
    height: 30px;
}

.card svg,
.card svg path {
    stroke: #fd8b00;
}

.card svg rect {
    stroke: none !important;
}

.card h3 {
    font-size: 1.25rem;
    /* Ajusta el tamaño para que no sea gigante en tablets */
    line-height: 1.2;
    min-height: 3em;
    /* Reserva espacio para 2 o 3 líneas de título */
}

.step {
    height: 50px;
    width: 50px;
    background-color: var(--bg-svg);
    color: var(--text-special);
}