.dish {
    background-color: var(--bg-card);
    border-radius: 20px;
}

.image {
    border-radius: 15px 15px 0 0;
    height: 220px;
    object-fit: cover;
}

.text {
    color: var(--text-card) !important;
}

.title {
    font-size: 1.7rem;
}

.price {
    color: var(--text-special);
    font-size: 1.8rem;
    font-weight: bold;
}

.orderBtn {
    background-color: var(--bg-btn);
    border: none;
}

.orderBtn:hover {
    background-color: #faa038;
}

.orderBtn svg {
    width: 25px;
    height: 25px;
}

.orderBtn:active {
    transform: scale(0.95);
}

@media (min-width: 768px) {
    .title {
        font-size: 1.3rem;
    }

    .price {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .title {
        font-size: 1.7rem;
    }

    .price {
        font-size: 20px;
    }
}