.dish {
    background-color: var(--bg-card);
    border-radius: 20px;
}

.image {
    border-radius: 15px 15px 0 0;
    height: 220px;
    object-fit: cover;
}

.text {
    color: var(--text-card) !important;
}

.price {
    color: var(--text-special);
    font-size: 30px;
    font-weight: bold;
}

.orderBtn {
    background-color: var(--bg-btn);
    border: none;
}

.orderBtn:hover {
    background-color: var(--bg-btn) !important;
}

.orderBtn svg {
    width: 25px;
    height: 25px;
}

.orderBtn:active {
    transform: scale(0.95);
}