.cart {
    width: 95%;
    bottom: 0;
}

@media (min-width: 768px) {
    .cart {
        top: 130px;
        right: 0;
        height: 50px;
        width: 300px;
    }
}

@media (min-width: 1024px){
    .cart {
        top: 120px;
        width: 400px;
    }
}