@import '/src/index.css';

.card {
    background-color: var(--bg-card);
    max-width: 400px;
}

.card svg {
    width: 30px;
    height: 30px;
}

.step {
    height: 50px;
    width: 50px;
    background-color: var(--bg-svg);
    color: var(--text-special);
}

.bg {
    background-color: #4b4642;
    background-image: url('/images/location.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    max-width: 400px;
}

.containerInfo {
    height: fit-content;
    background-color: var(--bg-nav);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.containerInfo svg {
    height: 50px;
    width: 50px;
    padding: 0;
}

.wp {
    border: none;
    /* background-color: var(--bg-btn); */
    background: linear-gradient(168deg, rgba(255, 194, 51, 1) 0%, rgba(253, 121, 6, 1) 100%);
}

.wp svg {
    height: 50px;
    width: 50px;
}