@import '../../../../index.css';

.card {
    background-color: var(--bg-card);
    /* height: 300px; */
}

.card svg {
    background-color: var(--bg-svg);
    height: 60px;
    width: 60px;
}

.card a {
    color: var(--text-special);
}

.cardDelivery {
    background-color: var(--bg-card-home);
    color: black;
}

.cardDelivery svg {
    background-color: var(--color-svg);
    padding: .5rem;
    border-radius: 50%;
}

.border {
    background: rgba(83, 83, 83, 0.61);
    height: 1px;
}

.btnOrderNow {
    color: yellow;
}