@import '/src/index.css';

.cardSpecial {
    min-height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/tamales.jpeg');
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
}

.cardBody {
    border-radius: 25px;
}

.title {
    color: yellow;
}

.specialCard {
    bottom: -25px;
    right: -25px;
    background-color: rgb(65, 65, 65);
    /* padding: 1.2rem; */
    border-radius: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    min-width: 200px;
    /* z-index: 2; */
    /* Para asegurar que esté por encima de la imagen */
}

.price {
    color: var(--text-special);
}

.btn {
    background-color: var(--bg-btn);
}

.btn:hover {
    transform: scale(0.95);
    background-color: var(--bg-btn);
    color: black;
}