@import '/src/index.css';

.bgCart {
    background-color: var(--bg-nav);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    min-height: var(--nav-height);
    font-size: 15px;
    cursor: pointer;
}

.cartScrollArea {
    max-height: 24vh;
    overflow-y: auto;
    padding-right: 5px;
    padding-top: 20px;
}

.cartScrollArea::-webkit-scrollbar {
    width: 4px;
}

.cartScrollArea::-webkit-scrollbar-thumb {
    background-color: var(--bg-btn);
    border-radius: 10px;
}

.bgCart svg {
    width: 45px;
    height: 45px;
}

@media (min-width: 768px) {
    .bgCart svg {
        width: 35px;
        height: 35px;
    }

    .bgCart .order {
        font-size: 20px;
    }
}